@media (max-width: 1300px) {
    /* 2: Navbar */
    .header-wrapper .menu-navbar-nav {
        width: auto;
    }
}

@media (max-width: 1230px) {
    /* 2: Navbar */
    .header-wrapper .nav-item {
        margin: 0 5px;
    }

    .header-wrapper .learn-more-btn {
        padding: 12px 10px !important;
    }


    /* 3: Banner */
    .banner-wrapper .banner-title {
        font-size: 50px;
    }
}

@media (max-width: 1070px) {
    /* 2: Navbar */
    .header-wrapper .nav-link {
        font-size: 16px;
    }

    /* 5: About */
    .about-wrapper .about-title {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    /* 2: Navbar */
    .header-wrapper .navbar-brand img {
        width: 180px;
    }

    .header-wrapper .navbar-toggler:focus {
        box-shadow: none;
    }

    .header-wrapper .menu-navbar-nav {
        text-align: center;
    }

    .header-wrapper .nav-item {
        margin-bottom: 15px;
    }

    .header-wrapper .learn-more-btn {
        padding: 12px 29px !important;
    }

    .header-wrapper .navbar-collapse {
        background-color: var(--bg-white);
    }


    /* 3: Banner */
    .banner-wrapper .banner-title {
        font-size: 40px;
    }


    /* 5: About */
    .about-wrapper .about-number {
        margin: 20px auto;
    }

    .about-wrapper .about-title {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    /* 3: Banner */
    .banner-wrapper {
        padding: 100px 0 100px;
    }

    .banner-wrapper .row {
        flex-direction: column-reverse;
    }

    .btn-header {
        margin: auto;
    }


    /* 7: Pricing */
    .free-trial .free-title {
        font-size: 24px;
    }
}