/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Banner
4. Client
5. About
6. Features
7. Pricing
8. Testimonials
9. Brands
10. FAQs
11. Footer
---------------------*/



/* 1: General */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --bg-black: #090b3c;
    --bg-white: #fff;
    --bg-light-white: #fcfcfc;
    --bg-light-2: #f2f7fa;
    --bg-dark-green: #0e9d80;
    --bg-features-1: #fff6d6;
    --bg-features-2: #ebdcf9;
    --bg-features-3: #ddf5fc;
    --bg-features-4: #dcf6e8;
    --bg-features-5: #f8e4e1;
    --bg-features-6: #fbffd4;

    /* Text Color */
    --text-black: #000;
    --text-white: #fff;
    --text-dark-gray: #4c535d;
    --text-light-2: #798089;
    --text-light-3: #5e5e72;
    --text-light-4: #A0A0A0;
    --text-dark-green: #12c4a0;
    --text-orange: #ff5d2a;
    --text-yellow: #ffc100;

    /* Fonts */
    --primary-font: Quicksand;
    --secondary-font: 'Poppins', sans-serif;
    --normal-font-weight: 400;
    --bold-font-weight: 700;
}

body {
    font-family: var(--primary-font);
    font-weight: var(--normal-font-weight);
    background-color: var(--bg-white);
}


/* Custom CSS */
.learn-more-btn {
    background-color: var(--bg-black);
    font-size: 18px;
    font-weight: 700;
    color: var(--text-white) !important;
    padding: 12px 29px !important;
    border-radius: 10px;
    border: 2px solid var(--bg-black);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.btn-extra-header {
    color: var(--text-dark-gray) !important;
    background-color: transparent;
    border: 2px solid var(--text-dark-gray);
}

.btn-extra-header:hover {
    color: var(--text-white) !important;
    background-color: var(--bg-black);
}


/* 2: Navbar */
.header-wrapper .navbar {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

.header-wrapper .navbar-brand img {
    max-width: 210px;
    height: auto;
}

.header-wrapper .menu-navbar-nav {
    width: 70%;
    display: flex;
    justify-content: center;
}

.header-wrapper .nav-item {
    margin: 0 10px;
}

.header-wrapper .nav-item .nav-link {
    font-weight: var(--bold-font-weight);
    font-size: 18px;
    color: var(--text-dark-gray);
    line-height: 1;
}

.header-wrapper .nav-item .nav-link.active {
    color: var(--bg-dark-green);
}

.header-scrolled {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

.header-scrolled .navbar-brand img {
    width: 190px;
    height: auto;
    animation: animated 0.1s ease-in-out;
}

@keyframes animated {
    0% {
        width: 210px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 1900px;
    }
}

.header-scrolled .nav-item .nav-link {
    font-size: 17px;
}


/* 3: Banner */
.banner-wrapper {
    width: 100%;
    padding: 100px 0 125px;
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
}

.banner-wrapper .banner-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: var(--text-light-3);
}

.banner-wrapper .banner-title {
    font-family: var(--secondary-font);
    font-size: 60px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.15;
    margin-bottom: 25px;
    color: var(--text-black);
}

.banner-wrapper .banner-title span {
    color: var(--text-dark-green) !important;
}

.banner-wrapper .banner-title-text {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    max-width: 450px;
    margin-bottom: 40px;
    color: var(--text-light-2);
}

.banner-wrapper .learn-more-btn-section {
    margin-bottom: 20px;
}

.banner-wrapper .header-img-section img {
    width: 100%;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}


/* 4: Client */
.clients {
    padding: 80px 0 50px;
    background-color: var(--bg-light-2);
}

.clients h2 {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 40px;
    color: var(--text-light-2);
}

.client-slider-section .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.client-slider-section img {
    width: auto !important;
    height: 50px;
    object-fit: cover;
}


/* 5: About */
.about-wrapper {
    padding: 100px 0 0;
}

.about-wrapper .about-number {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 24px;
    padding: 4px 17px;
    border-radius: 10px;
    margin-bottom: 25px;
    max-width: 44px;
    color: var(--text-white);
    background-color: var(--bg-dark-green);
}

.about-wrapper .about-title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    max-width: 1000px;
    margin-bottom: 25px;
    color: var(--text-black);
}

.about-wrapper .about-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.25;
    max-width: 700px;
    color: var(--text-light-2);
}

.about-wrapper .innovate {
    background: var(--bg-light-2);
    padding: 80px 0;
}

.about-wrapper .projects {
    padding: 30px 0;
}

.about-wrapper .projects h2 {
    color: var(--text-orange);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 0;
}

.about-wrapper .projects p {
    color: var(--text-light-2);
    font-weight: 600;
    font-size: 17px;
    line-height: 1.5;
}


/* 6: Features */
.features-wrapper {
    padding: 100px 0 80px;
    background-color: var(--bg-light-2);
}

.features-wrapper .features-subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-2);
}

.features-wrapper .features-title {
    font-family: var(--secondary-font);
    font-size: 34px;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--text-black);
}

.features-wrapper h3 {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--text-black);
}

.features-wrapper .features-text {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-light-2);
}

.features-wrapper .ft-1 {
    background-color: var(--bg-features-1);
    padding: 40px;
    border-radius: 15px;
}

.features-wrapper .ft-1::before {
    content: url(../images/consultancy.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features-wrapper .ft-2 {
    background-color: var(--bg-features-2);
    padding: 40px;
    border-radius: 15px;
}

.features-wrapper .ft-2::before {
    content: url(../images/solutions.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features-wrapper .ft-3 {
    background-color: var(--bg-features-3);
    padding: 40px;
    border-radius: 15px;
}

.features-wrapper .ft-3::before {
    content: url(../images/simple.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features-wrapper .ft-4 {
    background-color: var(--bg-features-4);
    padding: 40px;
    border-radius: 15px;
}

.features-wrapper .ft-4::before {
    content: url(../images/deadline.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features-wrapper .ft-5 {
    background-color: var(--bg-features-5);
    padding: 40px;
    border-radius: 15px;
}

.features-wrapper .ft-5::before {
    content: url(../images/data.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features-wrapper .ft-6 {
    background-color: var(--bg-features-6);
    padding: 40px;
    border-radius: 15px;
}

.features-wrapper .ft-6::before {
    content: url(../images/flexible.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}
